[submodule "vendor/rathena"]
    path = vendor/rathena
    url = https://github.com/rathena/rathena.git
[submodule "vendor/openkore"]
    path = vendor/openkore
    url = https://github.com/OpenKore/openkore.git
